body {
  font-family: sans-serif;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.wiki-content {
  padding: 4px;
}

@media only screen and (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-flow: row-reverse;
  }
  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
  .img-container {
    min-width: 50%;
    max-width: 50%;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
